body {
  margin: 0;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
width: 15%;
background-color:tomato;
position: fixed;
height: 100%;
overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: black;
  color: tomato;
}

li a:hover:not(.active) {
  background-color: DimGray;
  color: Tomato;
}